.tabdetails{
	position: absolute;
	top: 49% ;
	margin: 0;
	height: 100%;
	background-color: rgb(254, 238, 241);
	float:left;
	clear:none;  
	width: 100%;
	font-family: Verdana; 
	font-weight: bold;

}

.myinfo{
	padding-left: 40px;
}


.topic:hover {
  background-color: rgb(123, 36, 28) ;
}



